
.seccion_datos{
    
    margin-top: 20px;
    
}
.tablaDatos{
  
    background-color: #5584AC;
}

.tablaHead tr th{
    width: 70px;
    padding: 6px 8px 3px 29px;
    border: 2px solid white;
}
 #celdaEmail{
    width: 150px;
}


